@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    // fonts
    --font-default: "Leckerli One", sans-serif;
  
    // main colors
    --Primary-PinkL: #F3DFD1;
    --Primary-PinkW: #e8b6ad;
    --Primary-pinkDark: #956068;
    --Secondary-Pink: #C7615D;
    --Secondary-PinkLigth: #D96C60;
    --Pink-Prop: #BE5260;
    --Contrast-Blue: #0A4379;
  
    //border radius
    --round: 4px;
  }